@{
    Layout = null;
}
<!doctype html>
<html lang="tr" class="dark-theme">

    @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
        @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial")

        <div class="page-content-wrapper">
            <div class="page-content">

                @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponentPartial")

				@RenderBody()
            </div>
        </div>

        <a href="javascript:;" class="back-to-top">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>

        <div class="overlay nav-toggle-icon"></div>

    </div>

    @await Component.InvokeAsync("_AdminLayoutJsComponentPartial")
</body>
</html>
