 @{
    Layout = null;
 }

<!DOCTYPE html>
<html lang="tr" class="no-js">

@await Component.InvokeAsync("_LayoutHeadViewComponentPartial")

<body>

	@await Component.InvokeAsync("_LayoutPreloaderComponentPartial")

	@await Component.InvokeAsync("_LayoutLoginModalComponentPartial")

	@await Component.InvokeAsync("_LayoutRegisterModalComponentPartial")

	@await Component.InvokeAsync("_LayoutHeaderComponentPartial")

	@await Component.InvokeAsync("_LayoutHeroComponentPartial")
	
	@RenderBody()

	

	@await Component.InvokeAsync("_LayoutFooterComponentPartial")

	@await Component.InvokeAsync("_LayoutScriptComponentPartial")


</body>
</html>